<!DOCTYPE html>
<html>
  <%- include('./content-tags/headTag') %>
 <body>
  
  <%- include('./content-tags/navigation') %>
  
   <h1 class="text-center">404 not found</h1>
   
  <%- include('./content-tags/footer') %>
 </body>
</html>